@model IEnumerable<TP3_A1.Models.CategoriaServico>

@{
    ViewBag.Title = "Index";
}

<h2>Categorias de Serviço</h2>

<p>
    @Html.ActionLink("Cadastre uma Categoria", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CategoriaServicoId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.CategoriaServicoId }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.CategoriaServicoId })
        </td>
    </tr>
}

</table>
