@model IEnumerable<TP3_A1.Models.TipoDespesa>

@{
    ViewBag.Title = "Index";
}

<h2>Tipo de Despesa</h2>

<p>
    @Html.ActionLink("Cadastre um Tipo de Despesa", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.TipoDespesaId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.TipoDespesaId }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.TipoDespesaId })
        </td>
    </tr>
}

</table>
